{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main.css'%}">
</head>
<body>
<div class="row">
    <h1> {% for car in cars %} </h1>
    <div class="col s12 m7">
      <div class="card">
          <span class="card-title"> {{car.model}}</span>
        </div>
        <div class="card-content">
            <p> <b>Rok produkcji: </b> {{ car.year }} - <b> Pojemność: </b>{{ car.eng_cap }} - <b>Opis:</b>
                {{ car.description }}
                    &nbsp;
                    </br> {% if car.photo %}
                    <a href="/media/{{ car.photo }}" target="_blank"> Photo </a>
                    &nbsp;
                    {% endif %}</p>
        </div>
        <div class="card-action">
        </div>
    </div>
    {% endfor %}
  </div>
</body>
</html>