{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main.css'%}">
</head>
<body>
<a href="{% url 'start_page' %}"> Powrót do strony głównej </a>
<div class="row">
    <ol> {% for car in cars %}</ol>
    <div class="col s12 m7">
        <div class="card">
            <span class="card-title"><li>{{car.model}}</li> </span>
            <div class="card-content">
                <b>Rok produkcji: </b> {{ car.year }} - <b> Pojemność: </b>{{ car.eng_cap }} - <b>Opis:</b>
                {{ car.description }} - </br> <b> Cena/dobę PLN </b> {{ car.price }}
                &nbsp;
                </br> {% if car.photo %}
                <a href="/media/{{ car.photo }}" target="_blank"> Zdjęcie </a>
                {% endif %}
            </div>
            <div class="card-action">
            </div>
        </div>
    </br>
        {% endfor %}
    </div>

</body>
</html>