{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact form </title>
    <link rel="stylesheet" href="{% static 'main.css'%}">
</head>
<body>
<heaader>
    <h1> About me: </h1>
        <ul>
            <li> Damian Szymanski</li>
            <li> 05-870 Błonie</li>
            <li> szymansk.damian@op.pl</li>
            <li> +48 516 509 909</li>
        </ul>
</heaader>
<section>
    <h1> Send a message throught the <a href="{% url 'message_add' %}"> active form</a> </h1>

</section>
</body>
</html>