{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title> UniCars - cars import and rent </title>
</head>
<body>
<ul class="nav justify-content-center">
    <li class="fb-page">
        <a class="nav-link active" href="https://www.facebook.com/UniCars-Import-Aut-z-USA-i-Kanady-208867583168124/"
           target="_blank"> <img src="{% static 'unicar_small.png'%}" width="30" height="30" alt="Unicars_logo"></a>
    </li>
    <li class="about-page">
        <a class="nav-link" href="{% url 'about_us'%}"> O Nas </a>
    </li>
    <li class="import-page">
        <a class="nav-link" href="#">Import pojazdów z USA </a>
    </li>
    <li class="car-rent-page">
        <a class="nav-link" href="{% url 'cars_list'%}"> Wypożycz auto </a>
    </li>
    <li class="cars-page">
        <a class="nav-link" href="{% url 'cars_gallery'%}"> Auta naszych klientów </a>
    </li>
    <li class="contact-page">
        <a class="nav-link" href="{% url 'message_add' %}"> Kontakt </a>
    </li>
</ul>
<div class="nav justify-content-center">
    {% if user.is_authenticated %}
    <p> Jesteś zalogowany jako: <b> {{ user.username|upper}} </b> </h1>
        <a href="{% url 'logout'%}"> Wyloguj się </a>
        {% else %}
    <p> Nie jesteś zalogowany! </p>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'login'%}"> Zaloguj się </a>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'register'%}"> Zarejestruj się </a>
    {% endif %}
</div>

</body>
</html>